.home-colorA {
  background: linear-gradient(200deg, rgb(249, 248, 251), rgb(222, 213, 246));
}
.home-colorB {
  background: linear-gradient(200deg, rgb(249, 248, 251), rgb(243, 246, 208));
}
.home {
  width: 90vw;
  height: 90vh;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

@media (max-width: 768px) {
  .home {
    width: 95vw;
    height: 95vh;
    border-radius: 10px;
  }
}
